<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h1>
    Welcome to a game of FizzBuzz.
  </h1>

  <div>
    <a routerLink="/fizzbuzz">
      Now, please implement the fizzbuzz module
    </a>
  </div>
</div>
